.summary
  = render partial: 'users/feed_editor', object: edit.editor, as: :editor
  made several edits.
  .date= edit.time_ago
%ul
  = render partial: 'changes/change', collection: edit.changes
  - if edit.more?
    .item
      .content
        %i.blue.right.triangle.icon
        = link_to "View #{edit.more} more changes", edit.development

