.row
  .ten.wide.column#title-area
    %h1.ui.header
      Proposed changes to
      = link_to @development.name, @development

.row
  .twelve.wide.column#pending-edits
    %h2 Edits
    %h4
      = @development.pending_edits_count
      pending edits,
      = @development.pending_edits.select(&:conflict?).count
      with conflicts

    .ui.large.feed
      = render partial: 'pending', collection: @development.pending_edits, as: :edit
      - if @development.pending_edits.empty?
        %p
          There are no pending edits left to show.
          = link_to "Go back to #{@development.name}.", @development

.row
  .twelve.wide.column#pending-flags
    %h2 Flags
    %h4
      = @development.pending_flags.count
      pending flags
    .ui.large.feed
      = render partial: 'flags/pending',
            collection: @development.pending_flags,
                    as: :flag
      - if @development.pending_flags.empty?
        %p
          There are no flags to resolve.
          = link_to "Back to #{@development.name}.", @development
