.row
  .column
    -# .ui.labeled.button{ tabindex: '0' }
    -#   %button.ui.button#watch
    -#     %i.unhide.icon
    -#     Watch
    -#   %a.ui.basic.left.pointing.label#watchers
    -#     #{@development.subscribers.count}

    -# Consider making this a partial, passing the path, icon, and text

    -# TODO: Can edit if ... ?
    = link_to edit_development_path(@development) do
      .ui.green.vertical.animated.button{ tabindex: '1' }
        .visible.content{style: 'padding: 0 25px 0'}
          %i.pencil.icon
          Edit
        .hidden.content
          Propose a Change

    -# TODO: Can flag if you are signed in.
    = link_to new_development_flag_path(@development) do
      .ui.vertical.basic.animated.button{ tabindex: '2' }
        .visible.content
          %i.flag.icon
        .hidden.content
          Flag

    -# TODO: Can claim if you belong to at least one organization.
    -# = link_to new_development_claim_path(@development) do
    -#   .ui.vertical.animated.button{ tabindex: '3' }
    -#     .visible.content
    -#       %i.university.icon
    -#     .hidden.content
    -#       Claim

.row
  .column
    %br
    - if current_user.moderator_for? @development
      - disabled = "disabled" if @development.disable_moderation?
      - color = @development.disable_moderation? ? "" : "green"

      = link_to pending_development_edits_path(@development) do
        .ui.labeled.button{ class: disabled }
          .ui.button{ class: color }
            %i.filter.icon
            Moderate
          %a.ui.basic.left.pointing.label{ class: color }
            - if @development.pending_edits.any?
              = @development.pending_edits_count
              = 'changes'.pluralize @development.pending_edits_count
            - else
              No Pending Changes
            - if @development.pending_edits.any?
              = ', '
              = @development.pending_flags.count
              = 'flag'.pluralize @development.pending_flags.count
