%br
.ui.horizontal.divider Commercial
%h3.ui.header
  Commercial Uses
  .sub.header
    Floor area by use type

- if @development.commercial_attributes.empty?
  = link_to edit_development_path(@development) do
    %button.ui.green.button
      Contribute information
    about business and commerce at this development.

- if @development.commercial_attributes.any?
  %table.ui.selectable.celled.table
    %thead
      %th
        %h4.ui.header
          .content
            Use Type
      %th
        %h4.ui.header
          .content
            Floor Area
            .sub.header
              square feet
      %th
        %h4.ui.header
          .content
            Percent
            .sub.header
              of total nonresidential floor area
    %tbody
      - if @development.commsf.to_i > 0
        - @development.commercial_attributes.each_pair do |field, value|
          = render partial: 'developments/show/row', locals: { field: field,
            value: value,
            conditional: true,
            extra: number_to_percentage(value/@development.commsf.to_i * 100, precision: 0) }

    %tfoot
      %tr
        %th
          %h4.ui.header
            .content
              = Development.human_attribute_name(:commsf)
              Total
        %th
          = number_with_delimiter(@development.commsf.to_i)
        %th
          100%


  %table.ui.basic.selectable.celled.table
    %tbody
      = render partial: 'developments/show/row',
          locals: { field: :hotelrms, conditional: true,
            subheader: 'Number of rooms' }

  %h3.ui.header
    Employment

  %table.ui.basic.selectable.celled.table
    %tbody
      = render partial: 'developments/show/row', locals: { field: :employment,
          conditional: true, subheader: @development.employment_type }
      = render partial: 'developments/show/row', locals: { field: :emploss,
          conditional: true }
