:ruby
  markers = [ { latlng: @development.location } ]
  center = { latlng: @development.location, zoom: 16 }

.row
  .sixteen.wide.column
    #map{ style: 'height:240px;' }
      = map(center: center, markers: markers)

.row
  .ui.horizontal.list
    .item
      .content
        .header
          = @development.address
        = "#{@development.municipality.name}, MA"
    - if @development.parcel_id
      .item
        .header
          = @development.parcel_id
        Parcel ID

:javascript

  map.scrollWheelZoom.disable();
