%h3.ui.header
  Building &amp; Site
  .sub.header
    Physical Attributes

- if @development.physical_attributes.empty?
  -# TODO: Contribution button partial
  = link_to edit_development_path(@development) do
    %button.ui.green.button
      Contribute information
    about the physical characteristics of this development.

- if @development.physical_attributes.any?

  .ui.mini.statistics
    - @development.physical_attributes.each_pair do |field, value|
      - if value = @development.send(field)
        .ui.statistic
          .value= value
          .label
            = Development.human_attribute_name(field)

    -# This can be a partial
    - unless @development.walkscore.empty?
      .ui.statistic
        .value
          = link_to @development.walkscore['help_link'], target: '_blank' do
            = @development.walkscore['walkscore']
        .label
          = link_to @development.walkscore['help_link'], target: '_blank' do
            WalkScore &reg;

