-# TODO: Make this a view helper or lookup
- if @development.completed?
  .ui.label.large.basic
    %i.icon.checkmark
    Completed (#{@development.year_compl})
- if @development.in_construction?
  .ui.label.large.basic
    %i.icon.configure
    In Construction (est. #{@development.year_compl})
- if @development.projected?
  .ui.label.large.basic
    %i.icon.find
    Projected for #{@development.year_compl}
- if @development.planning?
  .ui.label.large.basic
    %i.icon.calendar
    Planning (est. #{@development.year_compl})

.ui.label.large.basic
  %i.green.money.icon
  Total Cost:
  - if @development.total_cost
    = number_to_currency @development.total_cost, precision: 0
  - else
    unknown
