:ruby
  src = @development.street_view.data
  style = 'width: 100%;'
  alt = @development.name

- unless @development.street_view.null?
  .ui.horizontal.divider
  .ui.fluid.card
    .image
      %img{ src: src, alt: alt }
    .content
      .description
        %p
          %i.street.view.icon
          Google Street View for
          = succeed ',' do
            = @development.address
          facing
          = succeed '.' do
            = @development.street_view.compass_direction
    .extra.content
      %i.warning.icon
      Image may be old or not oriented toward the site.
      %p
        = link_to edit_development_path(@development) do
          %i.pencil.icon
          Edit Street View

