%h1.ui.header#title
  = @development.name
  .sub.header#address
    %i.icon.marker
    = @development.display_address
%p.tagline
  = @development.tagline
  - if @development.website
    = link_to @development.website, target: '_blank' do
      %i.icon.linkify
      = @development.website
