<div class="ui grid container">
  <div class="row">
    <div class="ten wide column" id="title-area">
      <h1 class="ui header" id="title">
        <div class="sub header" id="address">
          <div class="ui form">
            {{place-autocomplete-field
              class="field"
              value= model.address
              disable=false
              handlerController= this
              inputClass= 'place-autocomplete--input'
              placeChangedCallback='placeChanged'
              types="address"
            }}
          </div>
        </div>
      </h1>
      <p class="tagline">
        {{#if model.website}}
          <i class="icon linkify"><a href="{{model.website}}" target="_blank">{{model.website}}</a></i>
        {{/if}}

      </p>

      <div id="status">
        
      </div>
    </div>
    <div class="six wide column" id="actions">
      
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      <div id="tags">
        
      </div>
      <div id="images">
        {{#if model.latitude}}
          {{street-view povChanged='povChanged' positionChanged='positionChanged' addressControl=false pov=this.pointOfView lat=model.latitude lng=model.longitude}}
        {{/if}}
      </div>
      <div id="data">
        <div class="ui horizontal divider">Data</div>
      </div>
    </div>
    <div class="six wide column">
      <div>
        Refine Development location:
        {{#if model.latitude}}
          {{development-map model=model}}
        {{/if}}
        {{#if model.parcel_id}}
          Parcel ID: {{model.parcel_id}}
        {{/if}}
      </div>
      <div id="team">
        <div class="ui horizontal divider">
          <h4>Development Team</h4>
          <table class="ui very basic collapsing celled table">
            <tbody>
              {{#each this.groupedResults}}
                <tr>
                  <td>
                    {{role}}
                  </td>
                  <td>
                    <div class="ui items">
                      {{#each contents as |content|}}
                        <h5 class="ui header">
                          <img class="ui mini rounded image" src="{{content.organization.logo}}"/>
                          <div class="content">
                            {{content.organization.name}} <p {{action "removeMembership" content}}>(Remove Member)</p> {{content.teamMembership}}

                            <div class="sub header">
                              {{#if content.isDirty}}
                                This has been flagged for deletion
                              {{/if}}
                              {{content.organization.location}}
                            </div>
                          </div>
                        </h5>
                      {{/each}}
                    </div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr><th colspan="2">
                <div class="ui horizontal divider">Add Team member</div>
                <div class="ui form">
                  <div class="three fields">
                    <div class="field">
                      <label>Role</label>
                      <select class="ui dropdown" onChange={{action (mut role) value="target.value"}}>
                        {{#each roles key="@index" as |roleChoice|}}
                          <option value="{{roleChoice.name}}" selected={{eq role roleChoice.name}}>{{roleChoice.name}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="field">
                      <label>Organization</label>                
                      <select class="ui dropdown" onChange={{action (mut organization) value="target.value"}}>
                        {{#each organizations key="@index" as |organizationChoice|}}
                          <option value="{{organizationChoice}}" selected={{eq organization organizationChoice}}>{{organizationChoice.name}}</option>
                        {{/each}}
                        <option value="{{organizations.firstObject}}" selected={{eq organization organizationChoice}}>{{organizations.firstObject.name}}</option>
                      </select>
                    </div>
                    <div class="field">
                      <div class="ui submit button" {{action "saveNewTeamMember"}}>Add Member</div>
                    </div>
                  </div>
                </div>
              </th></tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div id="contrib">
        
      </div>
      <div id="related">
        
      </div>
      <div id="history">
        
      </div>
    </div>
  </div>
</div>
