<br />
<br />
<br />
<div id="mainbody">
  {{sticky-semantic-component content=model.errors}}
  <div class="ui grid container">
    <div class="row">
      <div class="ten wide column">
        {{partial "developments/forms/general"}}
      </div>
      <div class="six wide column">
        {{#if model.id}}
          {{partial "developments/forms/development_team"}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        {{partial "developments/forms/spatial"}}
      </div>
    </div>
    <div class="row">
      <div class="ten wide centered column">

        {{partial "developments/forms/physical"}}

        {{!-- {{partial "developments/forms/residential"}} --}}

        {{!-- {{partial "developments/forms/commercial"}} --}}

        {{partial "developments/forms/employment"}}

        <div class="ui form">
          <div class="field">
            <label>What is the reason for this proposal?<span style="color: red;">*</span></label>
            {{textarea value=model.log_entry rows=2}}
          </div>
        </div>

        <button class="ui primary button" {{action "save" model}}>
          {{#if isInEdit}}
            Propose Changes
          {{else}}
            Create
          {{/if}}
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
