{{#filters-menu totalResults=totalResults reset="reset" filtersSet=filtersSet status=status isLoggedIn=isLoggedIn successfulSave=successfulSave}}
  <div class="ui two column relaxed divided grid">
    <div class="column">
      <h4 class="ui header">Ranges</h4>
        <form class="ui form">
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Year Built</label>
          </div>
          <div class="yearbuilt" style="display:none;">
            {{range-field-group from=yearFrom to=yearTo min=limits.year_compl.min max=limits.year_compl.max from_max=limits.year_compl.max label="Year:"}}
          </div>
          <div class="ui divider"></div>
          {{range-field-group from=sqftFrom to=sqftTo min=limits.commsf.min max=limits.commsf.max from_max=limits.commsf.max label="Commercial Square Feet:"}}
        </form>
    </div>
    <div class="column">
      <h4 class="ui header">Project Status</h4>
      <div class="ui link list">
        {{#ui-dropdown class="selection" onChange=(action 'update_selected') value=status}}

          <div class="default text">Select an Option</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each itemActions as |itemAction|}}
              <div class="item" data-value="{{itemAction.id}}">
                {{itemAction.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <h4 class="ui header">Project Tags - Click to Select</h4>
      <div class="ui tag labels">
        {{toggle-label field=this.redevelopment label="Redevelopment"}}
        {{toggle-label field=this.asofright label="As-of-Right"}}
        {{toggle-label field=this.age_restricted label="Age Restricted"}}
        {{toggle-label field=this.clusteros label="Cluster / Open Space"}}
        {{toggle-label field=this.phased label="Phased"}}
        {{toggle-label field=this.cancelled label="Cancelled"}}
        {{toggle-label field=this.private label="Private"}}
      </div>
      <div class="ui divider"></div>
      {{range-field-group from=tothuFrom to=tothuTo min=limits.tothu.min max=limits.tothu.max from_max=limits.tothu.max label="Total Housing Units:"}}
      <button {{action "reset"}} class="fluid ui button red">Clear Filters</button>
    </div>
  </div>
{{/filters-menu}}
{{#mapbox-map developments=model model=model}}
  <div class="spatial-stats">
    <div class="ui segment">
      <div class="ui form">
        <div class="ui icon input" style="width: 100%">
          {{input type="text" value=placeSearch placeholder="Search for a Place"}}
          {{#if placeSearch}}
            <i class="circular delete link icon" {{action 'clearSearch'}}></i>
          {{/if}}
        </div>
      </div>
    </div>
    {{searchables}}
    {{#if placeSearchResults}}
      <div class="ui segment">
        <div class="ui divided link items" style="width: 100%;">
          {{#each autocompleteResults as |result|}}
            <a class="item">
              <div class="ui tiny image">
                <img src="http://semantic-ui.com/images/wireframe/image.png">
              </div>
              <div class="content">
                <div class="header">{{result}}</div>
                <div class="meta">
                  <span>Type: {{result}}</span>
                </div>
              </div>
            </a>
          {{/each}}
          {{#each placeSearchResults as |result|}}
            <a class="item">
              <div class="ui tiny image">
                <img src="http://semantic-ui.com/images/wireframe/image.png">
              </div>
              <div class="content">
                <div class="header">{{result.attributes.name}}</div>
                <div class="meta">
                  <span>Type: {{result.type}}</span>
                </div>
{{!--                 <div class="description">
                  <p>{{result.attributes.description}}</p>
                </div> --}}
              </div>
            </a>
          {{/each}}
        </div>
      </div>
    {{/if}}
    <div class="ui segment" style="background-color: rgba(255,255,255,0.9);">
      <div class="ui top attached label">Summary Statistics</div>
      <div class="ui horizontal statistics">
        <div class="ui statistic">
          <div class="value">
            {{totalResults}}
          </div>
          <div class="label">
            Developments
          </div>
        </div>
        <div class="ui statistic">
          <div class="value">
            10,543
          </div>
          <div class="label">
            Housing Units
          </div>
        </div>
      </div>
    </div>
  </div>
{{/mapbox-map}}
{{developments-list-component model=model}}
