<div class="ui grid shadow master-grid">
  <div class="four wide column blue search-grid">
    <div class="ui grid row padded">
      <div class="wide column">
        {{partial "search"}}
      </div>
    </div>
  </div>
  <div class="twelve wide column white results">
    <div class="ui two attached buttons">
      {{#link-to "developments.search.table" class="ui button"}}Table{{/link-to}}
      {{#link-to "developments.search.map" class="ui button"}}Map{{/link-to}}
    </div>
    <div class="ui inverted segment" style="margin-bottom:0; margin-top:0; border-radius:0">
      <p>Total Results: {{totalResults}}</p>
    </div>
    <div class="container">
      {{outlet}}

    </div>
    <div class="ui two bottom attached primary buttons">
      <div {{action "previousPage"}} class="ui button">Previous Page</div>
      <div {{action "nextPage"}} class="ui button">Next Page</div>
    </div>
  </div>
</div>
