:ruby
  set_meta_tags title: @user.full_name
  set_meta_tags og: {
    title:       @user.full_name,
    url:         user_url(@user),
    image:       @user.gravatar_url(size: 125).html_safe,
    type:        'person'
  }

  set_meta_tags twitter: {
    label1: 'Contributions',
    data1: @user.contributions.count
  }.merge(@user.second_label_data)

.row
  .ui.twelve.column.grid
    .four.wide.column
      .ui.fluid.card
        .image
          %img{ src: @user.gravatar_url(size: 500) }
        .content
          .header
            = @user.full_name
          .meta
            .ui.list
              .item= @user.email
              .item.date
                Joined
                = @user.joined
              .item.contributions
                = pluralize(@user.contributions.count, "contribution")

      -# TODO: Handle nil current_user with an anonymous NullUser
      - if current_user && current_user == @user.item
        = link_to edit_user_registration_path,
            class: 'ui basic orange button' do
          %i.pencil.icon
          Edit

    .ten.wide.column

      - if @user.active_memberships.any?

        %h3 Member of
        .ui.middle.aligned.relaxed.selection.list
          = render @user.active_memberships

      -# TODO: [Code Smell] NilCheck
      - if current_user == @user.item && @user.pending_memberships.any?

        %h3 Pending Requests
        .ui.middle.aligned.relaxed.selection.list
          = render @user.pending_memberships
