.ui.middle.aligned.center.aligned.grid
  .column
    .ui.stacked.segment
      %h2 Change your password

      = render 'shared/flash'
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'ui form edit_password' }) do |f|
        = devise_error_messages!

        = f.hidden_field :reset_password_token

        .field
          .ui.input
            = f.label :password, "New password"
            = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "at least #{@minimum_password_length} characters"

        .field
          .ui.input
            = f.label :password_confirmation, "Confirm new password"
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"

        .actions
          = f.submit "Change my password", class: 'ui fluid large teal submit button'

    .ui.message
      = render "devise/shared/links"
