<div id="data">
  <div class="ui horizontal divider">Commercial</div>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Housing Type</th>
      <th>Floor Area (square feet)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Retail</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_ret}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Office or Medical</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_ofcmd}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Educational and Institutional</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_edinst}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Industrial and Manufacturing</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_indmf}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Warehouse and Shipping</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_whs}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Research and Development</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_rnd}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Other</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_other}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Hotel</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.fa_hotel}}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="ui very basic collapsing celled table">
  <tbody>
    <tr>
      <td>Hotel Rooms</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.hotelrms}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
