<div id="data">
  <div class="ui horizontal divider">Development Team</div>
</div>
<div class="ui segment">
  <table class="ui very basic celled table">
    <tbody>
      {{#each this.groupedResults as |group|}}
        <tr>
          <td>
            {{group.role}}
          </td>
          <td>
            <div class="ui middle aligned list">
              {{#each group.contents as |content|}}
                <div class="item">
                  <div class="right floated content">
                    <button {{action "removeMembership" content}} class="ui mini basic icon button">
                      <i class="delete icon"></i>
                    </button>
                  </div>
                  <img class="ui mini rounded avatar image" src="{{content.organization.logo}}"/>
                  <div class="content">
                    <a href="/organizations/{{content.organization.id}}">{{content.organization.short_name}}</a>
                  </div>
                </div>
              {{/each}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr><th colspan="2">
        <div class="ui horizontal divider">Add Team member</div>
        <div class="ui form">
          <div class="fields">
            <div class="five wide field">
              <label>Role</label>
              <select class="ui dropdown" onChange={{action (mut role) value="target.value"}}>
                <option value="" selected="true">Select below</option>
                {{#each roles key="@index" as |roleChoice|}}
                  <option value="{{roleChoice.name}}" selected={{eq role roleChoice.name}}>{{roleChoice.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="eleven wide field">

{{!--               {{#ui-dropdown class="search selection" onChange=(action (mut organization) value="target.data-value")}}
                {{input type="text" class="search" autocomplete="off" tabindex=0 value=searchCriteria}}
                <div class="default text">Select an item</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each organizations key="@index" as |organizationChoice|}}
                    <div class="item" data-id="{{organizationChoice}}" value="{{organizationChoice.id}}">
                      {{organizationChoice.name}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}} --}}

              <label>Organization</label>
              {{#ui-dropdown class="search selection" onChange=(action "update_selected")}}

                {{input type="text" class="search" autocomplete="off" tabindex=0 value=searchCriteria}}
                <div class="default text">Search and Select</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each organizations key="@index" as |organizationChoice|}}
                    <div class="item" data-id="{{organizationChoice.id}}" data-value="{{organizationChoice.id}}">
                      {{organizationChoice.name}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}

{{!--               <label>Organization</label>           
              <select class="ui dropdown" onChange={{action (mut organization) value="target.value"}}>
                <option value="" selected="true">Select below</option>
                {{#each organizations key="@index" as |organizationChoice|}}
                  <option value="{{organizationChoice.id}}" selected={{eq organization organizationChoice.name}}>{{organizationChoice.name}}</option>
                {{/each}}
              </select> --}}
            </div>
          </div>
          <div class="field">
            <div class="ui fluid submit button" {{action "saveNewTeamMember"}}>Add Member</div>
          </div>
        </div>
      </th></tr>
    </tfoot>
  </table>
</div>
