<div id="data">
  <div class="ui horizontal divider">Details</div>
</div>
<table class="ui celled table">
  <tbody class="ui form">
    <tr>
      <td><div class="ui form"><div class="required field input"><label>{{#ui-popup tagName="label" content="Enter the total number of housing units, not including hotel rooms."}}Total Housing Units <i class="help circle icon"></i>{{/ui-popup}}</label></div></div></td>
      <td>
        <div class="ui form">
          <div class="required field input">
            {{input type="text" value=model.tothu}}
          </div>
        </div>
      </td>
    </tr>
      <tr>
        <td colspan="2">
          {{#liquid-if (gt model.tothu 0) class="nested-form"}}
            {{partial "developments/forms/residential"}}
          {{/liquid-if}}
        </td>
      </tr>
    <tr>
      <td><div class="ui form"><div class="required field input"><label>{{#ui-popup tagName="label" content="Nonresidential share of commercial use."}}Commercial Square Feet <i class="help circle icon"></i>{{/ui-popup}}</label></div></div></td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.commsf}}
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      {{#liquid-if (gt model.commsf 0) class="nested-form"}}
        {{partial "developments/forms/commercial"}}
      {{/liquid-if}}
      </td>
    </tr>
    <tr>
      <td>{{#ui-popup tagName="label" content="Project Site Area in Square Feet"}}Project Area (in Square Feet) <i class="help circle icon"></i>{{/ui-popup}}
      </td>
      <td>
        <div class="ui right labeled input">
          {{input type="text" value=model.prjarea}}
          <div class="ui basic label">
            Square Feet
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Stories</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.stories}}
        </div>
      </td>
    </tr>
    <tr>
      <td>{{#ui-popup tagName="label" content="Building height in Feet."}}Height <i class="help circle icon"></i>{{/ui-popup}}</td>
      <td>
        <div class="ui right labeled input">
          {{input type="text" value=model.height}}
          <div class="ui basic label">
            Feet
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
