<div id="data">
  <div class="ui horizontal divider">Details</div>
</div>
<table class="ui celled table">
  <tbody>
    <tr>
      <td>Total Housing Units</td>
      <td>
        <div class="ui required input">
          {{input type="text" value=model.tothu}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Commercial Square Feet</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.commsf}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Project Area (in Square Feet)</td>
      <td>
        <div class="ui right labeled input">
          {{input type="text" value=model.prjarea}}
          <div class="ui basic label">
            Square Feet
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Stories</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.stories}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Height</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.height}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
