<div id="data">
  <div class="ui horizontal divider">Residential</div>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Housing Type</th>
      <th>Number of Units</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{#ui-popup tagName="label" content="Units in single family homes."}}Single family homes <i class="help circle icon"></i>{{/ui-popup}}
        {{#if (or (eq model.status 'completed') (eq model.status 'in_construction'))}}
          <span style="color: red;">*</span>
        {{/if}}
      </td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.singfamhu}}
        </div>
      </td>
    </tr>
    <tr>
      <td>{{#ui-popup tagName="label" content="Units in townhouses, attached single family, or small multifamily buildings (2 - 4 units."}}Small Multi-Family <i class="help circle icon"></i>{{/ui-popup}}
        {{#if (or (eq model.status 'completed') (eq model.status 'in_construction'))}}
          <span style="color: red;">*</span>
        {{/if}}
      </td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.twnhsmmult}}
        </div>
      </td>
    </tr>
    <tr>
      <td>{{#ui-popup tagName="label" content="Units in mixed use buildings or buildings with 5 or more residential units."}}Large Multi-Family <i class="help circle icon"></i>{{/ui-popup}}
        {{#if (or (eq model.status 'completed') (eq model.status 'in_construction'))}}
          <span style="color: red;">*</span>
        {{/if}}
      </td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.lgmultifam}}
        </div>
      </td>
    </tr>
    <tr>
      <td>{{#ui-popup tagName="label" content="Percent of subsidized or deed-restricted affordable units."}}Affordable housing units (percent of total) <i class="help circle icon"></i>{{/ui-popup}}
      </td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.affordable}}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="ui very basic collapsing celled table">
  <tbody>
    <tr>
      <td>{{#ui-popup tagName="label" content="Number of beds in a Dormitory, Nursing Home, Assisted Living, or other group quarters situation."}}Group Quarters (i.e. dorms, nursing homes, etc.) <i class="help circle icon"></i>{{/ui-popup}}
        {{#if (or (eq model.status 'completed') (eq model.status 'in_construction'))}}
          <span style="color: red;">*</span>
        {{/if}}
      </td>
      <td>
        <div class="ui right labeled input">
          {{input type="text" value=model.gqpop}}
          <div class="ui basic label">
            Beds
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
