#header.ui.borderless.fixed.menu
  .ui.container
    = link_to developments_path, class: 'header item' do
      -# Logo goes here
      -# %img.logo{:src => "assets/images/logo.png"}
      MassBuilds

    = link_to developments_path,  class: 'item' do
      Developments

    = link_to organizations_path, class: 'item' do
      Organizations

    - unless signed_in?

      -# = link_to page_path('pricing'), class: 'item' do
      -#   Pricing

      .right.compact.menu

      = link_to signup_path, class: 'active teal item' do
        %i.rocket.icon
        Sign up

      = link_to signin_path, class: 'item' do
        %i.door.icon
        Log in



    - if signed_in?

      .right.menu

        .ui.dropdown.item
          %i.add.icon
          .menu
            .header
              Create new

            = link_to new_development_path,  class: 'item' do
              %i.building.icon
              Development

            = link_to new_organization_path, class: 'item' do
              %i.users.icon
              Organization


        = render 'users/header'
