:css
  .ui.masthead.segment {
     background-image: url('assets/images/skyline_cropped.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
   }

/ Following Menu
.ui.large.top.fixed.borderless.hidden.menu
  .ui.container
    %a.active.item Home
    = link_to 'Developments', developments_path, class: 'item'
    = link_to 'Teams', organizations_path, class: 'item'
    .right.menu
      .item
        = link_to signup_path, class: 'ui teal button' do
          %i.rocket.icon
          Sign Up
      .item
        = link_to signin_path, class: 'ui button' do
          %i.lock.icon
          Log in
/ Page Contents
.pusher
  .ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
      .ui.large.secondary.menu
        %a.active.item Home
        = link_to 'Developments', developments_path, class: 'item'
        = link_to 'Teams', organizations_path, class: 'item'
        .right.item
          = link_to signup_path, class: 'ui teal button' do
            %i.rocket.icon
            Sign Up
          = link_to signin_path, class: 'ui button' do
            %i.lock.icon
            Log in
    .ui.text.container
      %h1.ui.inverted.header
        MassBuilds
      %h2
        Explore development in Massachusetts through a collaborative inventory of past, present, and future projects.
      = link_to developments_path, class: 'ui huge primary button' do
        Get Started
        %i.right.arrow.icon
  .ui.vertical.stripe.segment
    .ui.text.container
      %h3.ui.header Gain insight on development in our region.
      %p
        MassBuilds provides

        = succeed ',' do
          %strong analysts
        = succeed ',' do
          %strong planners
        = succeed ', and' do
          %strong community advocates
        %strong real estate developers
        with comprehensive data for
        = Development.count
        projects across Massachusetts &mdash; from the largest development to the smallest.

  .ui.vertical.stripe.center.aligned.segment{style: 'padding-top: 2em; padding-bottom: 2em;'}
    .ui.sixteen.column.grid.container
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.tiny.statistic
          .value
            = Development.count
          .label
            developments
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.tiny.statistic
          .value
            = Development.sum(:tothu)
          .label
            housing units
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.tiny.statistic
          .value
            = (Development.sum(:commsf) / 1_000_000).to_i
            million
          .label
            commercial square feet
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.tiny.statistic
          .value
            = (Development.sum(:total_cost) / 1_000_000_000).to_i
            billion
          .label
            investment dollars

  .ui.vertical.stripe.center.aligned.segment{style: "background-image: url('assets/images/mapbox_snippet.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"}
    = link_to developments_path, class: 'ui huge black button' do
      %i.search.icon
      Search Developments
  .ui.vertical.stripe.segment
    .ui.middle.aligned.stackable.grid.container
      .row
        .eight.wide.column
          %h3.ui.header
            Explore projects.
          %p
            = link_to 'Find the development data you need', developments_path
            searching by number of housing units, commerical square footage, project status, year of completion, on-site parking spaces, and more.
          %h3.ui.header
            Export data.
          %p
            Export development data as a spreadsheet for further analysis, or as a summary report to bring to your next meeting.
          %h3.ui.header
            Contribute and curate data.
          %p
            Anyone can propose changes to development data on any project.
            = link_to 'Municipal employees', '#municipal-employee'
            and MAPC staff moderate proposals, curating an accurate, up-to-date collection of development data.
        .six.wide.right.floated.column
          %img.ui.large.bordered.rounded.image{src: 'assets/images/planning.png'}
      .row
        .center.aligned.column
          = link_to developments_path, class: 'ui huge button' do
            Search Developments
            %i.right.arrow.icon
  .ui.vertical.stripe.quote.segment
    .ui.equal.width.stackable.internally.celled.grid
      .center.aligned.row
        .column
          %h3#municipal-employee Are you a municipal employee?
          %p
            We are looking for municipal employees to help us moderate data contributions, and to help curate accurate, up-to-date information about your town or city. Build reliable data with us by becoming a moderator.
          = link_to 'mailto:massbuilds@mapc.org', class: 'ui large button' do
            %i.mail.icon
            Get in touch
        .column
          %h3
            Developer or planner?
          %p
            Are you a municipal planner or real estate developer planning a new development?
            = link_to 'List your project', new_development_path
            to present it and make it shareable.
          = link_to new_development_path, class: 'ui large button' do
            %i.add.icon
            List your development
  .ui.vertical.stripe.segment
    .ui.text.container
      %h3.ui.header
        Manage Your Developments
      %p
        Keep your property data in one place by making MassBuilds your property management system.
        = link_to 'Your agency, company, or team', organizations_path
        can edit data and moderate changes to developments. Plus, more data in MassBuilds results in better-informed
        = succeed '.' do
          = link_to 'regional employment and housing projections', 'http://mapc.org/projections', target: '_blank'

      = link_to organizations_path, class: 'ui huge green button' do
        %i.add.icon
        Find or start your team
  .ui.vertical.stripe.segment
    .ui.text.container
      %h3.ui.header
        Need something else?
      .ui.large.list
        .item
          %i.right.arrow.icon
          Looking for development or property data solutions for your municipality?
        .item
          %i.right.arrow.icon
          Come up with a feature you'd like to see?
        .item
          %i.right.arrow.icon
          Need a deeper analysis?

      %p Get in touch with us, and we'll see what we can do to help.

      = link_to 'mailto:massbuilds@mapc.org', class: 'ui huge button' do
        %i.mail.icon
        Contact us
  -# .ui.vertical.stripe.segment
  -#   .ui.text.container
      -# %h4.ui.horizontal.header.divider
        -# %a{:href => "#"} Case Studies
      -# %h3.ui.header Coming Soon
      -# %p
      -#   %strong Stay up to date:
      -#   sign up for notifications to learn about changes to developments you care about, the moment they happen.
      -# = link_to page_path('upcoming'), class: 'ui large button' do
      -#   Learn more about this feature
  .ui.basic.segment
    .ui.text.container
      %p
        Photo credit:
        %a{:href => "http://www.flickr.com/photos/62077150@N06/16230655573"} Boston, 2015
        via
        %a{:href => "http://photopin.com"} photopin
        %a{:href => "https://creativecommons.org/licenses/by-nc-sa/2.0/"} (license)
      %p
        Map credit:
        %a{:href => "https://www.flickr.com/photos/mapbox/7880636778"} Boston, Massachusetts
        by Mapbox
        %a{:href => "https://creativecommons.org/licenses/by/2.0/"} (license)
