.ui.link.items
  =link_to development, :class => 'item' do
    .image.small
      %img{:src => "http://semantic-ui.com/images/wireframe/image.png"}
    .content
      .header= development.name
      .meta
        %span.address= development.address
      .description
        %p= development.tagline
        .ui.basic.label.housing
          %i.home.icon
          = development.housing_units
          housing units
        .ui.basic.label.retail
          %i.building.icon
          = development.retail_sq_ft
          retail sq. ft.
      .extra
        .ui.label.orange
          %i.random.icon
          Mixed-use
        .ui.label.green
          %i.users.icon
          Affordable
        .ui.label
          %i.configure.icon
          In Construction