.row
  = form_for @development do |f|
    .ten.wide.column#title-area
      .ui.form
        = render partial: 'developments/edit/title', locals: { f: f }
        #status
          = render partial: 'developments/edit/status', locals: { f: f }

        #tags
          = render partial: 'developments/edit/tags', locals: { f: f }

        %br

        #images
          %img.ui.large.image{src: 'http://semantic-ui.com/images/wireframe/image.png'}
          Street View Editor

        #data
          .ui.horizontal.divider Details
          = render partial: 'developments/edit/physical',       locals: { f: f }
          = render partial: 'developments/edit/residential',    locals: { f: f }
          = render partial: 'developments/edit/commercial',     locals: { f: f }
          = render partial: 'developments/edit/transportation', locals: { f: f }

    .six.wide.column#sidebar
      #map=     render partial: 'developments/edit/map',          locals: { f: f }
      #team=    render partial: 'developments/edit/team',         locals: { f: f }
