= render_ember_app :searchapp do |head|
  :javascript

    // Namespace
    var Search = {
      current_user: #{current_user.present?},
      api_key: '#{current_user.try(:api_key)}',
      limits: #{@limits}
    }

    document.API_KEY = '#{current_user.try(:api_key)}'

    window.search = Search;

  = head.append do
    = csrf_meta_tags
