:ruby
  set_meta_tags og: {
    title:       @development.name,
    url:         development_url(@development),
    description: @development.tagline,
    image:       @development.street_view.html_safe,
    type:        'development'
  }

.row
  .ten.wide.column#title-area
    = render partial: 'developments/show/title'
    #status
      = render partial: 'developments/show/status'

  .six.wide.column#actions
    = render partial: 'developments/show/actions'

= render partial: 'developments/show/tags'

.row
  .ten.wide.column
    #images
      %img.ui.image{src: @development.street_view, style: 'width: 600px; height: 600px;', alt: @development.name}
    #data
      .ui.horizontal.divider Details
      = render partial: 'developments/show/physical'
      = render partial: 'developments/show/residential'
      = render partial: 'developments/show/commercial'
      -# = render partial: 'developments/show/transportation'

  .six.wide.column#sidebar
    #map=     render partial: 'developments/show/map'
    #team=    render partial: 'developments/show/team'
    #contrib= render partial: 'developments/show/contributors'
    #related= render partial: 'developments/show/related'
    #history= render partial: 'developments/show/history'

-# .row
-#   .column#context
-#     .ui.horizontal.divider Neighborhood Context
-#     = render partial: 'developments/show/context'
