#main.ui.main.container
  / Replace with top margin
  %br
  %br
  %br
  #title-area
    = render partial: 'developments/development/title'

  #status-area
    .ui.horizontal.divider
    #status
      = render partial: 'developments/development/status'
      = render partial: 'developments/development/actions'

    .ui.horizontal.divider
    #tags
      = render partial: 'developments/development/tags'

  .ui.horizontal.divider

  #images
    %img.ui.large.image{src: 'http://semantic-ui.com/images/wireframe/image.png'}
      Alt Text

  #data
    .ui.horizontal.divider More Information

    = render partial: 'developments/development/residential'
    = render partial: 'developments/development/commercial'
    = render partial: 'developments/development/transportation'

  #context
    .ui.horizontal.divider Neighborhood Context
    = render partial: 'developments/development/context'

  #sidebar
    #map
      .ui.horizontal.divider
      = render partial: 'developments/development/map'
    #team
      = render partial: 'developments/development/team'

  .ui.horizontal.divider

  #history
    = render partial: 'developments/development/history'

  .ui.horizontal.divider

  #similar-projects
    = render partial: 'developments/development/related'