.row
  .column
    %h3
      Flagging
      = @flag.development.name

    %p Why are you flagging this development?

    .ui.form
      = form_for @flag, url: development_flags_path do |f|
        .eight.wide.field
          = f.label :reason, "Reason"
          = f.text_area :reason, rows: 4
        = link_to "Cancel", @flag.development, class: 'ui basic button'
        = f.submit "Flag", class: 'ui green submit button'
