%h3
  Flagging
  = @flag.development.fields['name']

%p Why are you flagging this development?

= form_for @flag, url: development_flags_path do |f|
  = f.text_area :reason, size: "55x5"
  = link_to "Cancel", @flag.development
  = f.submit "Flag"