<table class="ui padded selectable table">
  <thead>
    <tr><th>Name</th>
    <th>Completion Year</th>
    <th>Total Housing Units</th>
    <th>Commercial Square Feet</th>
    <th>Municipality</th>
  </tr></thead>
  <tbody>
    {{#each model as |development|}}
    <tr {{action "mouseover" development on='mouseEnter'}}>
      <td><a href="{{development.id}}">{{development.name}}</a></td>
      <td>{{development.year_compl}}</td>
      <td>{{development.tothu}}</td>
      <td>{{development.commsf}}</td>
      <td>{{development.city}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
