<div class="top-peek" style="position: fixed; bottom: calc(100vh - 110px); z-index: 100; background-color: white; width: 100%;">
  <div class="ui menu" style="background-color: white; height: 70px; margin: 0rem; border-radius:0;">
    <a class="browse item" {{action 'toggle'}}>
      <i class="filter icon"></i>
      Filters
      {{caret-toggle open=open}}
    </a>
    <div class="vertically fitted item">
      Results: 
      <div class="ui label">{{totalResults}}</div>
    </div>
    {{#if filtersSet}}
      <div class="vertically fitted item active teal">
        <i class="icon warning"></i>
        Filtered View
      </div>
    {{/if}}
    <div class="right menu">
      {{#if filtersSet}}
        <a {{action 'reset'}} class="item">
          <i class="delete icon"></i>
          Clear Filters
        </a>
      {{/if}}
      <a class="item">
        <i class="star icon"></i>
        Save Search
      </a>
      <a class="item">
        <i class="history icon"></i>
        Saved Searches
      </a>
      <a class="item">
        <i class="download icon"></i>
        Export Results
      </a>
    </div>
  </div>
</div>
<div class="ui flowing basic admission popup">
  {{yield}}
</div>
