.ui.success.message
  %i.close.icon
  .header
    Edit
    = "#{object['action']}." if object
  .p
    You
    = object['action'] if object
    = succeed "'s" do
      = object['name'] if object
    edit.
  -# Rendering issue: says 'missing partial'
  -# = render partial: 'edits/none_left' if object['none_left']
