.ui.success.message
  %i.close.icon
  .header
    Edit
    = "#{object['action']}." if object
  .p
    - if object
      You
      = object['action']
      = succeed "'s" do
        = object['name']
      edit.
    - else
      Your edit succeeded.
  -# Rendering issue: says 'missing partial'
  -# = render partial: 'edits/none_left' if object['none_left']
