%br
.ui.horizontal.divider Commercial

%h3.ui.header
  Commercial
  .sub.header
    Non-residential attributes

%table.ui.very.basic.celled.table
  %thead
    %th
      %h4.ui.header
        .content
          Use Type
    %th
      %h4.ui.header
        .content
          Floor Area
          .sub.header
            square feet

  %tbody
    - Development::COMMERCIAL_FIELDS.each do |field|
      %tr
        %td
          .field
            = f.label field, Development.human_attribute_name(field)
        %td
          .field
            .ui.right.labeled.input
              = f.number_field field, min: 0
              .ui.basic.label square feet

%table.ui.very.basic.celled.table
  %tbody
    %tr
      %td
        .inline.field
          = f.label :hotelrms, Development.human_attribute_name(:hotelrms)
          .ui.compact.mini.circular.basic.icon.button{ data: { content: 'Number of hotel rooms' }}
            %i.info.icon
      %td
        .field
          .ui.right.labeled.input
            = f.number_field :hotelrms, min: 0
            .ui.basic.label rooms
    %tr
      %td
        .inline.field
          = f.label :rptdemp, 'Employment (reported)'
      %td
        .field
          .ui.right.labeled.input
            = f.number_field :rptdemp
            .ui.basic.label jobs

    %tr
      %td
        .inline.field
          = f.label :estemp, 'Employment (estimated)'
          .ui.compact.mini.circular.basic.icon.button{ data: { content: 'MAPC estimates employment based on commercial floor area composition.' }}
            %i.info.icon
      %td
        .field
          .ui.right.labeled.input
            = f.text_field :estemp, readonly: ''
            .ui.basic.label jobs
