%h3.ui.header
  Building &amp; Site
  .sub.header
    Physical Attributes

.ui.form
  .required.inline.field
    = f.label :tothu, "Total Housing Units"
    = f.number_field :tothu, min: 0
  .required.inline.field
    = f.label :commsf, "Total Commercial Floor Area (in sqft.)"
    = f.number_field :commsf, min: 0
  .inline.field
    = f.label :prjarea, "Project Area (in sqft.)"
    = f.number_field :prjarea, min: 0
  .inline.field
    = f.label :stories, "Stories"
    = f.number_field :stories, min: 0
  .inline.field
    = f.label :height, "Height (in feet)"
    = f.number_field :height, min: 0
