%h3.ui.header
  Residential
  .sub.header
    Housing

%table.ui.very.basic.celled.table
  %thead
    %th
      %h4.ui.header
        .content
          Housing Type
    %th
      %h4.ui.header
        .content
          Number of Units

  %tbody
    %tr
      %td
        %h4.ui.header
          .content
            Single-family homes
      %td= f.text_field :singfamhu
    %tr
      %td
        %h4.ui.header
          .content
            Small multifamily units
      %td= f.text_field :twnhsmmult
    %tr
      %td
        %h4.ui.header
          .content
            Large multifamily
      %td= f.text_field :lgmultifam
    %tr
      %td
        %h4.ui.header
          .content
            Affordable percent
      %td= f.text_field :affordable
    %tr
      %td
        %h4.ui.header
          .content
            Group Quarters
            %a{href: '#what-are-group-quarters'}
              %i.help.circle.icon
              -# Modal
            .sub.header
              Number of Beds
      %td= f.text_field :gqpop
