%br
.ui.horizontal.divider Residential

%h3.ui.header
  Residential
  .sub.header
    Housing

%table.ui.very.basic.celled.table
  %thead
    %th
      %h4.ui.header
        .content
          Housing Type
    %th
      %h4.ui.header
        .content
          Number of Units

  %tbody
    %tr
      %td
        .inline.field
          = f.label :singfamhu, 'Single-family homes'
          .ui.compact.mini.circular.basic.icon.button{ data: { content: 'Units in single family homes' }}
            %i.info.icon
      %td
        .field
          .ui.right.labeled.input
            = f.number_field :singfamhu, min: 0
            .ui.basic.label homes
    %tr
      %td
        .inline.field
          = f.label :twnhsmmult, 'Small multifamily units'
          .ui.compact.mini.circular.basic.icon.button{ data: { content: 'Units in townhouses, attached single-family, or small multifamily buildings (2-4 units)' }}
            %i.info.icon
      %td
        .field
          .ui.right.labeled.input
            = f.number_field :twnhsmmult, min: 0
            .ui.basic.label units
    %tr
      %td
        .inline.field
          = f.label :lgmultifam, 'Large multifamily units'
          .ui.compact.mini.circular.basic.icon.button{ data: { content: 'Units in mixed-use buildings or buildings with 5 or more residential units' }}
            %i.info.icon
      %td
        .field
          .ui.right.labeled.input
            = f.number_field :lgmultifam, min: 0
            .ui.basic.label units
    %tr
      %td
        .inline.field
          = f.label :affordable, 'Affordable housing units (percent of total)'
          .ui.compact.mini.circular.basic.icon.button{ data: { content: 'Percent of total units that are subsidized or deed-restricted affordable units' }}
            %i.info.icon
      %td
        .field
          .ui.right.labeled.input
            = f.number_field :affordable, min: 0
            .ui.basic.label %
    %tr
      %td
        .inline.field
          = f.label :gqpop, 'Group Quarters'
          .ui.compact.mini.circular.basic.icon.button{ data: { content: 'Number of beds in a dormitory, nursing home, assisted living facility, barracks, or other group quarters arrangement.' }}
            %i.info.icon
      %td
        .field
          .ui.right.labeled.input
            = f.number_field :gqpop, min: 0
            .ui.basic.label beds
