%br
.fields
  -# = f.check_box :private,                      :class => 'checkable'
  -# = f.label :private, "Private",               :class => 'teal'

  = f.check_box :rdv,                          :class => 'checkable'
  = f.label :rdv, "Redevelopment",             :class => 'red'

  = f.check_box :asofright,                    :class => 'checkable'
  = f.label :asofright, "As of Right",         :class => 'green'

  = f.check_box :ovr55,                        :class => 'checkable'
  = f.label :ovr55, "Age-Restricted",          :class => 'blue'

  = f.check_box :clusteros,                    :class => 'checkable'
  = f.label :clusteros, "Cluster Development", :class => 'purple'

  = f.check_box :phased,                       :class => 'checkable'
  = f.label :phased, "Phased",                 :class => 'pink'

  = f.check_box :stalled,                      :class => 'checkable'
  = f.label :stalled, "Stalled",               :class => 'black'


:javascript
  $(document).ready(function() {
    $('input.checkable + label').addClass('ui small basic label');
    $('input.checkable:checked + label').removeClass('basic');
    $('input.checkable + label').css('cursor', 'pointer');
    $('input.checkable + label').click(function() {
      $(this).toggleClass('basic');
    });
  });
