.three.fields
  .ui.field
    = f.label :onsitepark, 'On-site parking spaces'
    = f.text_field :onsitepark
  .ui.disabled.field
    = f.label :onsitepark, 'Walk Score'
    = f.text_field :onsitepark, value: '93'
  .ui.disabled.field
    = f.label :onsitepark, 'Nearest transit station'
    = f.text_field :onsitepark, value: "Charles / MGH"
