.ui.warning.message
  %i.close.icon
  .header
    %i.warning.sign.icon
    The data on this page may be out of date.
  .p
    If you can, please
    = succeed ',' do
      = link_to edit_development_path(@development) do
        update this development
    which was last updated on
    = succeed '.' do
      = @development.history.first.applied_at.to_s(:subject)
    = link_to 'Update.', edit_development_path(@development)
