<h3 class="ui horizontal inverted divider header">
  <i class="filter icon"></i>
  Search Filters
</h3>
<form class="ui form inverted">
  {{range-field-group from=yearFrom to=yearTo min=1990 max=2050 from_max=2050 label="Year:"}}
  <div class="ui divider"></div>
  {{range-field-group from=sqftFrom to=sqftTo min=1 max=5000 from_max=5000 label="Commercial Square Feet:"}}
  <div class="ui divider"></div>
  {{range-field-group from=tothuFrom to=tothuTo min=1 max=600 from_max=5000 label="Total Housing Units:"}}
  <div class="ui divider"></div>
  <div class="field">
    <label>Name:</label>
    {{input value=name name=name}}
  </div>

  <div class="field">
    <label>Address:</label>
    {{input name="address"}}
  </div>

  <div class="field">
    <label>Municipality:</label>
    {{input name="municipality"}}
  </div>

  <div class="field">
    <label>Project Status:</label>
    {{#ui-dropdown class="selection" onChange=(action 'update_selected')}}

      <div class="default text">Select an Option</div>
      <i class="dropdown icon"></i>
      <div class="menu">
      {{#each itemActions as |itemAction|}}
        <div class="item" data-id="{{itemAction}}">
          {{itemAction}}
        </div>
      {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="ui divider"></div>

  <div class="field">
    <div class="ui slider checkbox">
      <label>Redevelopment</label>
      {{input type="checkbox" checked=rdv}}
    </div>
  </div>
  <div class="field">
    <div class="ui slider checkbox">
      <label>Saved</label>
      {{input type="checkbox" checked=saved}}
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="two ui buttons">
    <button {{action 'search'}} class="ui green button">
      Search
    </button>

  </div>

  <button {{action "reset"}} class="fluid ui button red">Clear Search</button>

  <h3 class="ui horizontal inverted divider header">
    <i class="star icon"></i>
    Saved Searches
  </h3>
  <button {{action 'nameSearch'}} class="ui fluid teal button">Save</button>
  <button {{action 'toggle'}} class="ui fluid green button">View Past Searches</button>

</form>
