{{#ui-sidebar class="ui left inverted sidebar" id="sidebar" searches=model.searches}}
  <div class="ui selection divided inverted large list">
  	<div class="item" style="pointer-events: none;">
      <div class="content header">
        Your Saved Searches
      </div>
  	</div>
    {{#each model key="@index" as |search|}}
      <div class="item">
        <div class="right floated content">
          <i {{action 'deleteSearch' search}} class="icon trash"></i>
        </div>
        <div {{action 'transitionToSaved' search}} class="content">
          {{search.name}}
        </div>
      </div>
    {{/each}}
  </div>
{{/ui-sidebar}}
<div class="ui pusher large masthead">
  {{outlet}}
</div>
{{#ui-modal class="delete-search"}}
  <div class="header">
    Are you sure?
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui negative approve red ok right labeled icon button">
      Delete
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
{{partial "save-search"}}
