.row
  .ui.six.column.grid
    .six.wide.column
      = form_for @organization, html:{ class: 'ui form' } do |f|

        .field
          = f.label :name
          = f.text_field :name

        .field
          = f.label :location
          = f.text_field :location

        .field
          = f.label :website
          = f.text_field :website

        .field
          = f.label :email
          = f.text_field :email
          .ui.pointing.basic.grey.label
            This email address will be made public.

        .field
          = f.label :gravatar_email
          = f.text_field :gravatar_email
          .ui.pointing.basic.grey.label
            If you use a Gravatar email, it will be used for your
            organization's profile photo across the site. The address
            itself will be kept private.

        .field
          = f.label :short_name
          = f.text_field :short_name
          .ui.pointing.basic.grey.label
            Used across the site where your organization's full name
            is too long.

        .field
          = f.label :abbv, 'Abbreviation'
          = f.text_field :abbv
          .ui.pointing.basic.grey.label
            Used in icons and avatars.



        = f.submit 'Submit', class: 'ui green button'
