#main.ui.main.container
  = form_for :organization, url: { action: 'create' }, html:{ class: "ui form" } do |f|
    = label :name, "Name"
    = f.text_field :name
    = label :email, "E-mail"
    = f.text_field :email
    = label :location, "Location"
    = f.text_field :location
    = label :short_name, "Abbreviation"
    = f.text_field :short_name
    = f.submit "Create Organization", class: "ui primary button"