-# Organization logo
-#  alt: "#{@org.name} Logo"
#main.ui.main.container
  =link_to edit_organization_path do
    %button.ui.right.floated.primary.button
      %i.edit.icon
      Edit Organization
  = if current_user
    - link_to organization_membership_join_path(@organization, current_user), method: :post do
      %button.ui.right.floated.green.button 
        %i.edit.icon
        Request to Join
  %h1   
    = @organization.name
  #organization
    #stats
      #location= @organization.location
      #website=  @organization.website
      #email=    @organization.email
    #tabs
      .ui.top.attached.tabular.menu
        %a.item.active{"data-tab" => "developments"} Developments
        %a.item{"data-tab" => "people"} People
        %a.item{"data-tab" => "settings"} Settings
      .ui.bottom.attached.tab.segment.active{"data-tab" => "developments"}
        = render @organization.developments
      .ui.bottom.attached.tab.segment{"data-tab" => "people"}
        = render partial: 'users/contributor', collection: @organization.members, as: :contributor
      .ui.bottom.attached.tab.segment{"data-tab" => "settings"}
        Settings
