!!! 5
%html
  %head
    %title DD
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #flash= render 'shared/flash'
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'

  - if Rails.env == 'development'
    = debug(params)
    = console
