!!! 5
%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = display_meta_tags site: 'MassBuilds', reverse: true

  %body
    :css
      body {
        background-color: #DADADA;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
    = render 'shared/header'
    = yield
    = render 'shared/footer'

:ruby

  set_meta_tags og: { site_name: 'MassBuilds' }
  set_meta_tags fb: { page_id: 'MAPCMetroBoston' }
  set_meta_tags twitter: {
    site:       '@MassBuilds',
    creator:    '@MAPCMetroBoston',
  }
